@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body, :root {
  height: 100%;
  overflow: hidden;
}

html, body {
  position: fixed;
  width: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-64 {
  width: 16rem;
}

.w-36 {
  width: 9rem;
}

.h-64 {
  height: 16rem;
}

.h-36 {
  height: 9rem;
}
